<div>
    <p>
        <a href="{{ github }}" target="_blank">nyuprinters</a> is an opensource printer monitoring system created by
        <a href="https://github.com/sproutmaster" target="_blank">Joe Prakash</a> to provide a simple way to view status
        of printers. The goal of this project is make it easier for students and IT staff to see the working printers
        at nyu and to create a system that tracks and reports issues.
    </p>
    <h3>How to contribute</h3>
    <p>
        If you'd like to improve or add features to the project, please see the
        <a href="https://github.com/sproutmaster/nyuprinters/blob/dev/docs/dev-guide.md">contribution guide</a> on
        GitHub.
        <span>We got Discord too</span>
        <a href="{{ discord }}" rel="nofollow" target="_new">
            <i class="fab fa-discord"></i>
        </a>
        <span>.</span>
    </p>
    <h3>People who made this project possible</h3>
    <p id="contrib"></p>
</div>
<style>
    #contrib img {
        width: 50px;
        height: 50px;
        padding: 5px;
        border-radius: 50%;
        margin: 5px;
    }

    #contrib a {
        display: inline-block;
    }

    #contrib {
        text-align: left;
        border: 1px solid green;
        border-radius: 3px;
    }
</style>