{% set locs=locs %}
{% set superuser=superuser %}
{% set name=name %}
{% set github=github %}
{% set discord = discord %}

<header>
    <!-- Sidebar -->
    {% include 'components/sidebar.html' %}
    <!-- Navbar -->
    {% include 'components/navbar.html' %}
</header>
<!--Main Navigation-->

<!--Main layout-->
<main style="margin-top: 58px; margin-left: 10px;">
    <!--PRINTER MODAL-->
    {% include 'components/printer-modal.html' %}
    <!--DELETE MODAL-->
    {% include 'components/delete-confirmation-modal.html' %}
    <!--USER MODAL-->
    {% include 'components/user-modal.html' %}
    <style>
        .header {
            display: flex;
            justify-content: space-between;
        }

        .action_button {
            max-width: 150px;
            max-height: 40px;
            margin-right: 5px;
        }
    </style>

    <div class="container-fluid pt-4 mx-lg-auto" id="printersContainer">
        <div class="header">
            <h1 class="title">Printers</h1>
            <button type="button"
                    class="btn btn-primary action_button"
                    data-mdb-ripple-init data-mdb-modal-init
                    data-mdb-target="#printerModal"
                    data-message="Add Printer"
                    data-action="add_printer"
            >
                Add Printer
            </button>
        </div>
        <div class="border p-4 m-1">
            {% include 'components/accordians.html' %}
        </div>
    </div>

    <div class="container-fluid pt-4 _hidden" id="locationsContainer">
        <div class="header">
            <h1 class="col-sm-8">Locations</h1>
            <button type="button"
                    class="btn btn-primary action_button"
                    data-mdb-ripple-init data-mdb-modal-init
                    data-mdb-target="#locationModal"
                    data-message="Add Location"
                    data-action="add_location"
            >
                Add Location
            </button>
        </div>
        <div class="border p-4 m-1">
            {% include 'components/locations-table.html' %}
            {% include 'components/location-modal.html' %}
        </div>
    </div>
    <div class="container-fluid pt-4 _hidden" id="settingsContainer">
        <div class="header">
            <h1 class="col-sm-8">Settings</h1>
            <button type="button" id="settingsReset"
                    class="btn btn-primary action_button"
                    data-mdb-ripple-init>
                Reset Default
            </button>
        </div>
        <div class="border p-4 m-1">
            {% include 'components/settings.html' %}
        </div>
    </div>
    <div class="container-fluid pt-4 _hidden" id="usersContainer">
        <div class="header">
            <h1 class="col-sm-8">Users</h1>
            {% if superuser %}
                <button type="button" id="settingsReset"
                        class="btn btn-primary action_button"
                        data-mdb-modal-init data-mdb-ripple-init
                        data-mdb-target="#userModal"
                        data-action="add_user"
                >
                    Add User
                </button>
            {% endif %}
        </div>
        <div class="border p-4 m-1">
            {% if superuser %}
                {% include 'components/users.html' %}
            {% else %}
                {% include 'components/forbidden.html' %}
            {% endif %}
        </div>
    </div>
    <div class="container-fluid pt-4 _hidden" id="profileContainer">
        <div class="header">
            <h1 class="col-sm-8">Profile</h1>
        </div>
        <div class="border p-4 m-1">
            {% include 'components/profile.html' %}
        </div>
    </div>
    <div class="container-fluid pt-4 _hidden" id="aboutContainer">
        <div class="header">
            <h1 class="col-sm-8">About</h1>
        </div>
        <div class="border p-4 m-1">
            {% include 'components/about.html' %}
    </div>
</main>
