<div>
    <div class="modal fade" id="deleteModal" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteModalTitle"></h5>
                    <button type="button" class="btn-close" data-mdb-ripple-init data-mdb-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <p id="deleteModalMessage"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-mdb-ripple-init id="deleteModalSubmit">
                        Delete
                    </button>
                    <button type="button" class="btn btn-outline-primary" data-mdb-ripple-init data-mdb-dismiss="modal">
                        Cancel
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>