<div>
    <div class="modal fade" id="printerModal" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="printerModalTitle"></h5>
                    <button type="button" class="btn-close" data-mdb-ripple-init data-mdb-dismiss="modal"
                            aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div>
                        <div class="mb-3">
                            <label for="printerModalName" class="col-form-label text-light">Name *</label>
                            <input type="text" class="form-control" id="printerModalName" name="name"/>
                        </div>
                        <div class="mb-3">
                            <label for="printerModalIP" class="col-form-label text-light">IPv4 Address *</label>
                            <input type="text" class="form-control" id="printerModalIP" name="ip"
                                   placeholder="Eg. 10.69.69.69"/>
                        </div>
                        <div class="mb-2">
                            <label for="printerModalBrand" class="col-form-label text-light">Brand *</label>
                            <label>
                                <select id="printerModalBrand" class="mx-2" name="brand">
                                    <option value="hp" selected>HP</option>
                                    <option value="lanier" disabled>Lanier</option>
                                </select>
                            </label>
                        </div>
                        <div class="mb-2">
                            <label for="printerModalLocation" class="col-form-label text-light">Location *</label>
                            <label>
                                <select id="printerModalLocation" class="mx-2" name="location">
                                    <option style="display:none">Select one</option>
                                </select>
                            </label>
                        </div>
                        <div class="mb-3">
                            <label for="printerModalModel" class="col-form-label text-light">Model</label>
                            <input type="text" class="form-control" id="printerModalModel" name="model"/>
                        </div>
                        <div class="mb-3">
                            <label for="printerModalSerial" class="col-form-label text-light">Serial</label>
                            <input type="text" class="form-control" id="printerModalSerial" name="serial"/>
                        </div>
                        <div class="mb-3">
                            <label for="printerModalComment" class="col-form-label text-light">Comment</label>
                            <textarea class="form-control" id="printerModalComment" name="comment"></textarea>
                        </div>
                        <div class="form-check form-check-inline mb-4 m-lg-1">
                            <input class="form-check-input" type="checkbox" id="printerModalType" name="type"/>
                            <label class="form-check-label" for="printerModalType">Color Printer</label>
                        </div>
                        <div class="form-check form-check-inline mb-4 m-lg-1">
                            <input class="form-check-input" type="checkbox" id="printerModalDisplay" checked
                                   name="visible"/>
                            <label class="form-check-label" for="printerModalDisplay">Visible to Users</label>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-mdb-ripple-init id="printerModalSubmit">
                        Save
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>