<nav id="sidebarMenu" class="collapse d-lg-block sidebar collapse bg-dark rounded">
    <div class="position-sticky">
        <div class="list-group list-group-flush mx-3 mt-4">
            <a href="javascript:show_tab('printersContainer')"
               class="list-group-item list-group-item-action py-2 ripple text-light">
                <i class="fas fa-print fa-fw me-3"></i><span>Printers</span>
            </a>
            <a href="javascript:show_tab('locationsContainer');fill_locations_table();"
               class="list-group-item list-group-item-action py-2 ripple text-light">
                <i class="fas fa-map-location-dot fa-fw me-3"></i><span>Locations</span>
            </a>
            <a href="javascript:show_tab('settingsContainer');fill_settings();"
               class="list-group-item list-group-item-action py-2 ripple text-light">
                <i class="fas fa-gear fa-fw me-3"></i><span>Settings</span>
            </a>
            <a href="javascript:show_tab('usersContainer');fill_users_table();"
               class="list-group-item list-group-item-action py-2 ripple text-light">
                <i class="fas fa-users fa-fw me-3"></i><span>Users</span>
            </a>
            <a href="javascript:show_tab('profileContainer');fill_user_profile();"
               class="list-group-item list-group-item-action py-2 ripple text-light">
                <i class="fas fa-user fa-fw me-3"></i><span>Profile</span>
            </a>
            <a href="javascript:show_tab('aboutContainer');fill_contrib();"
               class="list-group-item list-group-item-action py-2 ripple text-light">
                <i class="fas fa-info-circle fa-fw me-3"></i><span>About</span>
            </a>
        </div>
    </div>
</nav>