{% set hide_footer=hide_footer %}
{% extends "layout.html" %}

{% block title %}{{ loc }}{% endblock %}

{% block imports %}
    <link rel="stylesheet" href="{{ url_for('static', filename='/app/styles.css') }}"/>
    <script type="text/javascript" src="{{ url_for('static', filename='app/app.js') }}"></script>
{% endblock %}

{% block body %}
    <div class="container my-5" id="main_container" data-loc="{{ loc }}">
        <section>
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark" id="navbar">
                <div class="container-fluid">
                    <a class="navbar-brand" href="/">NYUPrinters</a>
                    <button class="navbar-toggler" type="button" data-mdb-toggle="collapse"
                            data-mdb-target="#navbar">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbar">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item me-3 me-lg-0 dropdown">
                                <a class="nav-link dropdown-toggle" href="#" role="button"
                                   data-mdb-toggle="dropdown">
                                    Locations
                                </a>
                                {#<li><hr class="dropdown-divider"/></li>#}
                                <ul class="dropdown-menu">
                                    {% for each in locs %}
                                        {% if login or each.visible %}
                                            <li>
                                                <a class="dropdown-item" href="/{{ each.short_name }}">{{ each.name }}</a>
                                            </li>
                                        {% endif %}
                                    {% endfor %}
                                </ul>
                            </li>
                        </ul>

                        <ul class="navbar-nav d-flex flex-row">
                            <li class="nav-item me-3 me-lg-0">
                                <a class="nav-link" href="{{ github }}">
                                    <i class="fab fa-github"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </section>

        <section id="print-status" class="print-status">
            <div class="container">
            </div>
        </section>
    </div>
{% endblock %}
