<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta http-equiv="x-ua-compatible" content="ie=edge"/>
    <title>nyuprinters | {% block title %}{% endblock %}</title>
    <link rel="icon" href="{{ url_for('static', filename='image/favicon.ico') }}" type="image/png">
    <script type="text/javascript" src="{{ url_for('static', filename='bootstrap/mdb.min.js') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"
            integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg=="
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/mdb.dark.min.css') }}"/>
    {% block imports %}{% endblock %}
</head>
<body>
{% block body %}{% endblock %}
</body>
<footer class="bg-light text-lg-start" id="footer">
    <div class="text-center p-3 text-dark">
        &copy 2023 - 2024 <a class="text-dark" href="https://www.youtube.com/watch?v=oHg5SJYRHA0" target="_blank">nyuprinters</a>
        <p class="text-center text-dark">nyuprinters is free and open-source software released under the MIT License.
            "NYU" is a registered trademark of New York University and is not associated with this software in any way.</p>
    </div>
</footer>
<script>
    $(document).ready(function () {
        setInterval(function () {
            let docHeight = $(window).height();
            let footerHeight = $('#footer').height();
            let footerTop = $('#footer').position().top + footerHeight;
            let marginTop = (docHeight - footerTop + 10);
            if (footerTop < docHeight)
                $('#footer').css('margin-top', marginTop + 'px'); // padding of 30 on footer
            else
                $('#footer').css('margin-top', '0px');
        }, 250);
    });
</script>
</html>
