{% extends "layout.html" %}

{% set hide_footer = not footer %}
{% set locs = locs %}
{% set superuser = superuser %}
{% set github = github %}
{% set discord = discord %}

{% block title %}Underground{% endblock %}
{% if login %}
    {% block imports %}
        <link rel="stylesheet" href="{{ url_for('static', filename='app/underground.css') }}"/>
        <script type="text/javascript" src="{{ url_for('static', filename='app/underground.js') }}"></script>
    {% endblock %}
{% endif %}

{% block body %}
    {% if login %}
        {% include "components/admin-dashboard.html" %}
    {% else %}
        {% include "components/login-modal.html" %}
    {% endif %}

    <!-- MDB -->
    <script type="text/javascript" src="{{ url_for('static', filename='bootstrap/mdb.umd.min.js') }}"></script>

{% endblock %}
